[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==2.0.3"
numpy = "==1.18.5"
scipy = "==1.5.2"
matplotlib = "==3.3.0"
opencv-python = "==4.1.2.30"
click = "7.1.2"
imageio = "==2.6.1"

[requires]
python_version = "3.7"
